@import "tailwindcss";

:root {
  --background: #F7FAFC;
  --foreground: #2D3748;
  --primary: #005792;
  --secondary: #00A8E8;
  --accent: #00C49A;
  --card: #ffffff;
  --border: #E2E8F0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-card: var(--card);
  --color-border: var(--border);
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.dark:root {
    --background: #1A202C;
    --foreground: #EDF2F7;
    --primary: #63B3ED;
    --secondary: #4FD1C5;
    --accent: #68D391;
    --card: #2D3748;
    --border: #4A5568;
  }

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}